.commentInput-box {
    margin: 3rem;
    border: 1px rgb(175, 168, 168) dashed;
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
}
.textAreaInput {
    width: 80%;
}
.formItem {
    width: 100%;
}